@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow: hidden;
}

.max-height {
  max-height: 100vh;
  overflow-y: scroll;
}

/* navbar design start */

.custom-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navLink {
  margin-top: 1rem;
}

.custom-profile {
  position: absolute;
  bottom: 2rem;
}

/*bottom navbar design start*/

.bottom-navbar {
  height: 50px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 5px;
  right: 1rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
}

.bottom-nav-links {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 5px;
}



/* navbar design end */


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(232, 232, 232);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(90, 90, 90);
}